---
layout: page
script_includes:
  - comment
---

<p style="font-family: Verdana, sans-serif; font-size: 16px;">Capturing fleeting thoughts, moments, and echoes of life.</p>

<script src="https://giscus.app/client.js"
        data-repo="flowing-wind/comments"
        data-repo-id="R_kgDONsFA8g"
        data-category="General"
        data-category-id="DIC_kwDONsFA8s4CmIgT"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>